* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

@font-face {
    font-family: 'Figtree';
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

/* *************** General *************** */
body {
    background-color: var(--Yellow);
    font-family: 'Figtree';
    position: relative;
}

/* *************** Main *************** */
main {
    width: 24%;
    margin: 6em auto;
    padding: 1.2em;
    background-color: var(--White);
    border: 1px solid var(--Black);
    border-radius: 20px;
    box-shadow: 8px 8px 1px 1px var(--Black);
}

/* *************** img *************** */
.main-img {
    margin: 0em;
}

.main-img img {
    width: 100%;
    border-radius: 10px;
}

/* *************** Content *************** */
.bg-yellow {
    color: var(--Black);
    font-size: small;
    font-weight: 800;
    background-color: var(--Yellow);
    width: 23%;
    padding: 0.3em 0.8em;
    margin: 1em 0;
    border-radius: 3px;
}

.date {
    color: var(--Black);
    font-size: small;
    font-weight: 600;
}

.header {
    color: var(--Black);
    font-size: x-large;
    font-weight: 800;
    margin: 0.7em 0;
}

.header:hover {
    color: var(--Yellow);
    cursor: pointer;
}

.descript {
    color: var(--Grey);
    font-size: medium;
}

/* *************** Avatar *************** */
.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5em;
}

.avatar .avatar-img {
    width: 10%;
    margin-right: 0.8em;
}

.avatar .avatar-img img {
    width: 100%;
}

.avatar .name {
    color: var(--Black);
    font-weight: 800;
    font-size: small;
}

/* *************** Attribution *************** */
.attribution {
    position: fixed;
    bottom: 0px;
    margin: auto;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    color: var(--White);
    font-size: small;
}

.attribution a {
    color: var(--White);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--Black);
}

/* *************** Media *************** */
@media screen and (max-width:600px) {
    body {
        position: relative;
    }

    main {
        margin: 6em 2em 0;
        padding: 1.2em 1.3em 1.3em;
        width: 80%;
    }

    .bg-yellow {
        font-size: x-small;
        font-weight: 900;
        width: 24%;
        padding: 0.5em 1em;
        margin: 1.5em 0 1em;
    }

    .date {
        font-size: x-small;
    }

    .header {
        font-size: large;
    }

    .descript {
        font-size: small;
    }

    .attribution {
        visibility: hidden;
    }
}