@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

.attribution {
    position: fixed;
    bottom: 0px;
    margin: auto;
    width: 100%;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.3;
    padding: 0.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
    body {
        background-image: url(./images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 50vh;
    }

    .content {
        width: 330px;
        height: 520px;
    }

    .content-img {
        width: 330px;
    }
}

@media screen and (min-width: 375px) {
    body {
        background-image: url(./images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 50vh;
    }
}

body {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

.content {
    background-color: hsl(225, 100%, 98%);
    text-align: center;
    width: 375px;
    height: 590px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: hsla(245, 85%, 57%, 0.227) 0px 20px 30px;
}

.container {
    background-color: hsl(220, 55%, 96%);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 45px;
}

h1 {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin: 30px 30px 0px 30px;
}

p {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    margin: 15px 30px;
}

.item-2 {
    color: hsl(223, 47%, 23%);
    font-weight: 700;
}

.item-3 {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.button1 {
    background-color: hsl(245, 75%, 52%);
    color: aliceblue;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 45px;
    box-shadow: hsla(245, 97%, 54%, 0.227) 0px 20px 20px;
}

a {
    color: hsl(245, 75%, 52%);
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
}

.button2 {
    color: hsl(224, 23%, 55%);
    cursor: pointer;
    font-weight: 700;
    margin: 30px;
    font-size: 15px;
}

.content-img {
    border-radius: 15px 15px 0 0;
    width: 375px;
}

.item-1 {
    text-align: left;
    padding-left: 20px;
    flex-grow: 2;
}

a:hover {
    text-decoration: none;
    color: rgb(122, 58, 242);
}

.button1:hover {
    background-color: rgb(118, 105, 229);
}

.button2:hover {
    color: hsl(223, 47%, 23%);
}