@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  /* primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* neutral */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);

  --margin: 1rem;
  --padding: 1rem;
  --border-radius: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
  margin: calc(var(--margin)*0);
}