@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  /* primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* neutral */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);

  --margin: 1rem;
  --padding: 1rem;
  --border-radius: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
  margin: calc(var(--margin)*0);
}

/* *************** General *************** */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: calc(var(--margin)*5) calc(var(--margin)*1);
}

.grid-flow,
.cards-group {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* *************** Header *************** */
header {
  margin-bottom: var(--margin);
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: calc(var(--margin)*3.5);
}

header h2 {
  color: var(--very-dark-blue);
}

header .light {
  font-weight: 200;
}

header .bold {
  font-weight: 600;
  margin-bottom: var(--margin);
}

header p {
  color: var(--grayish-blue);
  width: 90%;
  margin-left: 5%;
}

/* *************** Cards *************** */
.card {
  border-radius: calc(var(--border-radius)*.5);
  box-shadow: 0em .1em 3em var(--grayish-blue);
  width: 350px;
  height: 230px;
  position: relative;
}

.supervisor-info {
  border: .3em var(--cyan);
  border-style: solid none none none;
  border-radius: calc(var(--border-radius)*.5);
  padding: calc(var(--padding)*1.8);
}

.team-info {
  border: .3em var(--red);
  border-style: solid none none none;
  border-radius: calc(var(--border-radius)*.5);
  padding: calc(var(--padding)*1.8);
}

.karma-info {
  border: .3em var(--orange);
  border-style: solid none none none;
  border-radius: calc(var(--border-radius)*.5);
  padding: calc(var(--padding)*1.8);
}

.calc-info {
  border: .3em var(--blue);
  border-style: solid none none none;
  border-radius: calc(var(--border-radius)*.5);
  padding: calc(var(--padding)*1.8);
}

.card h3 {
  color: var(--very-dark-blue);
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: calc(var(--margin)*.5);
}

.card p {
  color: var(--grayish-blue);
  font-size: small;
  line-height: 180%;
  margin-bottom: calc(var(--margin)*2);
}

.card img {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
  width: 60px;
}