@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --margin: 1rem;
    --padding: 1.5rem;
    --border-radius: 1rem;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    color: inherit;
    margin: calc(var(--margin)*0);
}

/* *************** General *************** */
body {
    background-image:
        url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-position: right 0vw bottom 65vh, left 30vw top 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat no-repeat;
    background-attachment: fixed;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    margin: calc(var(--margin)*5) calc(var(--margin)*2);
}

.grid-flow {
    display: grid;
    gap: 1rem;
}

/* *************** Header *************** */
.header {
    margin-bottom: var(--margin);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-info {
    width: 100%;
    margin-bottom: var(--margin);
}

.header-info h1 {
    width: 100%;
    color: var(--very-dark-magenta);
    font-size: 2.6em;
    padding-bottom: var(--padding);
    line-height: 80%;
}

.header-info p {
    width: 100%;
    font-size: 16.5px;
    font-weight: 500;
    color: var(--dark-grayish-magenta);
    line-height: 140%;
}

/* *************** Rate-Star *************** */
.rate {
    display: block;
    text-align: center;
    padding: .8rem 1.8rem;
    margin-bottom: 1rem;
    font-weight: 700;
    border-radius: calc(var(--border-radius)*.5);
    color: var(--very-dark-magenta);
    background-color: var(--light-grayish-magenta);
}

.star {
    margin-bottom: calc(var(--margin)*.5);
}

/* *************** Avatar *************** */
.avatar {
    color: var(--white);
    background-color: var(--very-dark-magenta);
    padding: calc(var(--padding)*1.2);
    border-radius: calc(var(--border-radius)*.5);
}

.avatar-info {
    display: flex;
    gap: 1rem;
    margin-bottom: calc(var(--margin)*1.5);
    align-items: center;
}

.avatar-info img {
    width: 15%;
    border-radius: calc(var(--border-radius)*6);
}

.avatar-info p {
    color: var(--soft-pink);
    margin-top: calc(var(--margin)*.4);
}

.comment {
    line-height: 130%;
}

/* *************** Attribution *************** */
.attribution {
    bottom: 0px;
    margin: auto;
    position: fixed;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    color: var(--dark-grayish-magenta);
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.4;
    width: 100%;

    a {
        color: var(--very-dark-magenta);
        text-decoration: none;
    }
}

/* *************** Media *************** */
@media (min-width: 992px) {

    /* *************** Desktop Version *************** */
    body {
        background-image:
            url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
        background-position: right 55vw bottom 55vh, left 30vw top 10vh;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }

    .grid-flow,
    .avatar-info,
    .rate {
        display: flex;
        align-content: start;
        gap: 1rem;
    }

    .container {
        margin: calc(var(--margin)*10);
    }

    /* *************** Header *************** */
    .header {
        justify-content: space-between;
        margin-bottom: calc(var(--margin)*4);
    }

    .header-info {
        text-align: start;
        width: 35%;
        margin-bottom: calc(var(--margin)*0);
    }

    .header-info h1 {
        width: 70%;
        font-size: 2.8em;
    }

    .header-info p {
        width: 85%;
        font-size: 15px;
    }

    /* *************** Rate-Star *************** */
    .rate {
        text-align: center;
        padding: .8rem 1.8rem;
    }

    .reviews,
    .report,
    .tech {
        margin-right: 0;
        margin-left: 0;
        display: block;
    }

    .star {
        margin-bottom: calc(var(--margin)*.5);
    }

    /* *************** Avatar *************** */
    .customer {
        gap: 0;
    }

    .avatar-info img {
        width: 15%;
    }

    .colton,
    .irene,
    .anne {
        margin-bottom: 0;
        margin-top: 1rem;
    }

    .comment {
        line-height: 130%;
    }
}