@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --slider-color1: hsl(6, 100%, 80%);
  --slider-color2: hsl(335, 100%, 65%);

  --text-gb: hsl(243, 100%, 93%);
  --text: hsl(229, 7%, 55%);
  --card-bg: hsl(228, 56%, 26%);
  --icon-bg: hsl(229, 57%, 11%);

  --slider: linear-gradient(to right, var(--slider-color1), var(--slider-color2));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
}

body {
  background-image: url(./images/bg-mobile.png);
  background-color: var(--icon-bg);
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-gb);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 22.5rem;
  margin-top: 8rem;
}

.icon-card,
.storage-div {
  background-color: var(--card-bg);
  padding: 2rem;
  width: 20rem;
  border-radius: .5rem;
}