* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

/* *************** General *************** */
body {
    background-color: var(--Off-Black);
    font-family: 'Inter';
    position: relative;
}

/* *************** Main *************** */
main {
    width: 25%;
    margin: 6em auto;
    padding: 2em;
    background-color: var(--Dark-Grey);
    border-radius: 10px;
}

/* *************** img *************** */
.user-info .img {
    margin: 0.5em 6.4em;
}

.user-info .img img {
    width: 95%;
    border-radius: 50%;
}

/* *************** user-info *************** */
.user-info {
    text-align: center;
}

.name {
    font-size: x-large;
    font-weight: 500;
    color: var(--White);
    margin: 0.8em 0 0.3em;
}

.location {
    font-size: small;
    font-weight: 600;
    color: var(--Green);
    margin-bottom: 1.8em;
}

.quote {
    font-size: small;
    font-weight: 300;
    color: var(--White);
    margin-bottom: 1.5em;
}