@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --button-bg1: hsl(171, 66%, 44%);
    --button-bg2: hsl(233, 100%, 69%);
    --text-h: hsl(210, 10%, 33%);
    --text-p: hsl(201, 11%, 66%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    color: inherit;
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-p);
    text-align: center;
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
}

main {
    align-items: center;
    justify-content: center;
    padding: 6rem 2rem 2.5rem;
    gap: 4rem;
}