@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --button-bg1: hsl(171, 66%, 44%);
    --button-bg2: hsl(233, 100%, 69%);
    --text-h: hsl(210, 10%, 33%);
    --text-p: hsl(201, 11%, 66%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    color: inherit;
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-p);
    text-align: center;
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
}

main {
    align-items: center;
    justify-content: center;
    padding: 6rem 2rem 2.5rem;
    gap: 4rem;
}

/* *************** Buttons *************** */
.buttons {
    align-items: center;
    gap: 1rem;
}

.button1,
.button2 {
    width: 100%;
    height: 2.5rem;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}

.button1 {
    background-color: var(--button-bg1);
}

.button1:hover {
    background-color: hsla(171, 66%, 44%, .75);
}

.button2 {
    background-color: var(--button-bg2);
}

.button2:hover {
    background-color: hsla(233, 100%, 69%, .75);
}

/* *************** sec1 *************** */
.header img {
    width: 100px;
}

.header h1 {
    color: var(--text-h);
    font-size: xx-large;
    font-weight: 600;
    margin: 3rem 0 1.5rem;
}

.header p,
.sec1 div p,
.content p,
.sec4 p,
.sec6 p {
    line-height: 150%;
}

.start {
    margin: 2rem 0 7rem;
}

.sec1 div h3 {
    color: var(--text-h);
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* *************** sec2 *************** */
.comp img {
    width: 100%;
}

.content {
    gap: 2rem;
    margin: 3rem 2rem 5rem;
}

.content h4 {
    color: var(--text-h);
    font-size: large;
    font-weight: 600;
    margin-bottom: .5rem;
}

.content p {
    font-size: small;
}

/* *************** sec3 *************** */
.sec3 h3 {
    color: var(--text-h);
    font-size: x-large;
    margin-bottom: 1rem;
}

.sec3 .devices img {
    width: 100%;
    margin: 3rem 0 5rem;
}

/* *************** sec4 *************** */
.sec4 {
    margin: 2rem 0;
    gap: 3rem;
}

.sec4 h4 {
    color: var(--text-h);
    font-size: large;
    margin: 2rem 0 1rem;
}

.sec4 img {
    width: 12%;
}

/* *************** sec5 *************** */
.sec5 {
    gap: 4rem;
}

.sec5 img {
    width: 70%;
}

/* *************** sec6 *************** */
.sec6 {
    margin: 3rem 0 5rem;
}

.sec6 h3 {
    color: var(--text-h);
    font-size: x-large;
    margin: 0 1rem;
}

.sec6 p {
    margin: 1rem 0 2.5rem;
    font-size: medium;
    line-height: 150%;
}

/* *************** sec7 *************** */
.sec7 {
    gap: 1rem;
}

.list {
    gap: 1rem;
    margin: 1rem 0;
    font-weight: 600;
}

.list div {
    cursor: pointer;
}

.list div:hover,
.sec7 .social-icons i:hover {
    color: var(--button-bg1);
}

.sec7 .logo img {
    width: 40%;
}

.sec7 .social-icons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}