@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
}

.container {
    display: flexbox;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    height: 500px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: hsl(217, 68%, 6%) 0px 20px 30px;
}

.content {
    margin-left: 7%;
    margin-right: 7%;
    align-items: center;
}

/* image settings start */
.image {
    position: relative;

}

.container-img {
    width: 260px;
    margin: 20px 20px 0 20px;
    border-radius: 10px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    background-color: hsl(178, 100%, 50%);
}

.view {
    width: 260px;
    height: 260px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 255, 247, .3);
    padding: 36.5%;
    border-radius: 10px;
}

/* image settings end */
.content-head {
    font-weight: 600;
    font-size: larger;
}

.content-p {
    font-weight: 300;
    font-size: medium;
}

.content-head,
.section-p>span {
    color: hsl(0, 0%, 100%);
}

.content-p,
.item-2>span,
.section-p {
    color: hsl(215, 51%, 70%);
}

.items,
.section {
    display: flex;
    align-items: center;
}

.items {
    justify-content: space-between;
    margin-bottom: 1rem;
}

.content-head,
.content-p,
.items,
.section {
    margin-top: 1rem;
}

.item-1,
.item-2 {
    display: flex;
    align-items: center;
    font-size: small;
}

.item-1>span {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    margin-left: 6px;
}

.item-2>span {
    font-weight: 400;
    margin-left: 6px;
}

.section-img>img {
    width: 30px;
    height: auto;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 60%;
    margin-right: 15px;
}

hr {
    color: inherit;
    border-color: rgb(75 85 99 / var(--tw-border-opacity));
    opacity: 0.5;
    height: 0;
}

/* hover start */
.container-img:hover {
    opacity: 0.3;
    cursor: pointer;
}

.view:hover {
    opacity: 1;
    cursor: pointer;
}

.content-head:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.section-p>span:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

/* hover end */

/* attribution settings start */
.attribution {
    position: fixed;
    bottom: 0px;
    margin: auto;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.attribution a {
    color: hsl(215, 51%, 70%);
}

.attribution a:hover {
    color: hsl(178, 100%, 50%);
}

/* attribution settings end */