@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
}

.container {
    display: flexbox;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    height: 500px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: hsl(217, 68%, 6%) 0px 20px 30px;
}

/* image settings start */
.image {
    position: relative;

}

.container-img {
    width: 260px;
    margin: 20px 20px 0 20px;
    border-radius: 10px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    background-color: hsl(178, 100%, 50%);
}

/* image settings end */