@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/*
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
***********************************************/
/*
  .league-spartan-<uniquifier> {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400,500,700;
  font-style: normal;
}
*/

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  --margin: 1rem;
  --padding: 1.5rem;
  --border-radius: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
  margin: calc(var(--margin)*0);
}

/* *************** General *************** */
body {
  background-image:
    url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat no-repeat;
  background-attachment: fixed;
  background-position: right 55vw bottom 55vh, left 30vw top 10vh;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.grid-flow,
.avatar-info,
.rate {
  display: flex;
  align-content: start;
  gap: 1rem;
}

.container {
  margin: calc(var(--margin)*10);
}

/* *************** Header *************** */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--margin)*4);
}

.header-info {
  width: 35%;
  /* margin-bottom: calc(var(--margin)*5); */
}

.header-info h1 {
  width: 70%;
  color: var(--very-dark-magenta);
  font-size: 2.6em;
  padding-bottom: var(--padding);
}

.header-info p {
  width: 85%;
  color: var(--dark-grayish-magenta);
  font-size: 15px;
  line-height: 140%;
}

/* *************** Rate-Star *************** */
.rate-star {
  align-content: end;
}

.rate {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  background-color: var(--light-grayish-magenta);
  margin-bottom: 1rem;
  padding: .8rem 5rem .8rem 1.8rem;
  border-radius: calc(var(--border-radius)*.5);
  color: var(--very-dark-magenta);
  font-weight: 700;
}

.reviews {
  margin-right: calc(var(--margin)*6);
}

.report {
  margin-right: calc(var(--margin)*3);
  margin-left: calc(var(--margin)*3);
}

.tech {
  margin-left: calc(var(--margin)*6);
}

.star {
  margin-right: var(--margin);
}



/* *************** Avatar *************** */
.customer {
  gap: 1.8rem;
}

.avatar {
  color: var(--white);
  background-color: var(--very-dark-magenta);
  padding: calc(var(--padding)*1.8) calc(var(--padding)*1.2);
  border-radius: calc(var(--border-radius)*.5);
}

.avatar-info {
  margin-bottom: calc(var(--margin)*1.5);
  align-items: center;
}

.avatar-info img {
  border-radius: calc(var(--border-radius)*6);
  width: 10%;
}

.avatar-info p {
  color: var(--soft-pink);
  margin-top: calc(var(--margin)*.4);
}

.comment {
  line-height: 160%;
}

.colton {
  margin-bottom: calc(var(--margin)*2);
}

.irene {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.anne {
  margin-top: calc(var(--margin)*2);
}

/* *************** Attribution *************** */
.attribution {
  bottom: 0px;
  margin: auto;
  position: fixed;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  color: var(--dark-grayish-magenta);

  a {
    color: var(--very-dark-magenta);
    text-decoration: none;
  }
}

/* *************** Media *************** */
/* @media (min-width: 768px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  .container {
    padding-inline-end: 0rem;
    grid-template-columns: 1.2fr 1fr;
  }
} */

@media (max-width: 768px) {
  body {
    background-image:
      url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    /* bg yi sonra ayarla */

    /* min-height: 100vh;
    min-width: 100vw;
    display: grid;
    place-items: center;
    text-align: center; */
  }

  .grid-flow {
    display: grid;
  }

  .customer {
    gap: 0;
  }

  .colton,
  .irene {
    margin-bottom: 0;
  }
}