* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

@font-face {
    font-family: 'YoungSerif';
    src: url('../fonts/YoungSerif-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Bold.ttf');
    font-weight: 700;
}

/* *************** General *************** */
body {
    background-color: var(--Eggshell);
    font-family: 'Outfit';
    position: relative;
}

/* *************** Main *************** */
main {
    background-color: var(--White);
    width: 50%;
    padding: 1.2em 1.5em;
    border-radius: 15px;
    position: absolute;
    top: 8%;
    left: 17%;
    transform: translate(17%, 8%);
}

.content-img {
    width: 100%;
    border-radius: 15px;
}

.head h1 {
    color: var(--Dark-Charcoal);
    font-family: 'YoungSerif';
    font-size: xx-large;
    margin: 0.7em 0 0.5em 0;
}

.head p {
    font-size: 16px;
    margin: 1em 0 2em 0;
}

.prepara {
    background-color: var(--Rose-White);
    padding: 0.5em 1.5em 1em;
    border-radius: 10px;
}

.prepara h3 {
    color: var(--Dark-Raspberry);
    font-size: 18px;
    margin: 1em 0 0.8em;
}

.prepara ul li {
    margin: 0.5em 1em;
}

.prepara ul li span {
    color: var(--Dark-Charcoal);
    font-weight: 700;
    margin: 0 0 0 1em;
}








/* *************** Attribution *************** */
.attribution {
    position: fixed;
    bottom: 0px;
    margin: auto;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.attribution a {
    color: hsl(215, 51%, 70%);
}

.attribution a:hover {
    color: hsl(178, 100%, 50%);
}