/* attribution settings start */
.attribution {
    position: fixed;
    bottom: 0px;
    margin: auto;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.attribution a {
    color: hsl(215, 51%, 70%);
}

.attribution a:hover {
    color: hsl(178, 100%, 50%);
}

/* attribution settings end */